name: Publish

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  publish:
    name: Publish to Maven
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '25'
          cache: gradle

      - name: Publish
        run: ./gradlew publish --no-daemon --stacktrace
        env:
          MAVEN_URL: https://maven.bkaw.ca/repository/maven-releases/
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
